<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tchaikousky.grade_tracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GradeTracker">
        <receiver
            android:name="com.tchaikousky.grade_tracker.UI.MyReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.tchaikousky.grade_tracker.UI.AddEditViewAssessment" />
        <activity android:name="com.tchaikousky.grade_tracker.UI.AddEditViewCourse" />
        <activity android:name="com.tchaikousky.grade_tracker.UI.AddEditViewTerm" />
        <activity android:name="com.tchaikousky.grade_tracker.UI.CourseList" />
        <activity android:name="com.tchaikousky.grade_tracker.UI.TermList" />
        <activity android:name="com.tchaikousky.grade_tracker.UI.ViewReport"/>
        <activity android:name="com.tchaikousky.grade_tracker.UI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>